# CakePHP 3
.webcache/
Media Load Flags/
debug.log
chrome_debug.log
.vscode/
.idea/
log.txt
cwp_sqlite.db
.public/.database/cwp_sqlite.db
logfile.log
verbose.log
www/php_errors.log
config.ini
config.ini
Latest.zip
chrome.log
xdebug.log
php/php_errors.log
php_errors.log
debug.info.log
