<div class="form-check form-switch">
    <div class="row">
        <div class="col-3">
            <input type="hidden" name="%%DEFINED_NAME%%" value="0">
            <input  class="form-check-input" name="%%DEFINED_NAME%%" value="1" type="checkbox" role="switch" id="flexSwitchCheckDefault"
             %%CHECKED%% />
        </div>
        <div class="col text-start">
            <label %%TOOLTIP%% class="form-check-label  text-start" for="flexSwitchCheckDefault">%%NAME%%</label>
        </div>
        <div class="col text-start">
            <input type="text" class="form-control border border-info" name="%%DEFINED_NAME%%-description" 
            id="%%DEFINED_NAME%%-description" placeholder="%%DESCRIPTION%%" value="%%DESCRIPTION%%">
        </div>
    </div>
</div>