<div class="form-group">
    <div class="row">
        <label %%TOOLTIP%% for="%%DEFINED_NAME%%" class="col-sm-3 col-form-label ">%%NAME%%</label>
        <div class="col-sm-4">
            <input %%TOOLTIP%% type="text" class="form-control border border-info" name="%%DEFINED_NAME%%" 
            id="%%DEFINED_NAME%%" placeholder="%%VALUE%%" value="%%VALUE%%">
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control border border-info" name="%%DEFINED_NAME%%-description" 
            id="%%DEFINED_NAME%%-description" placeholder="%%DESCRIPTION%%" value="%%DESCRIPTION%%" aria-label="Default value">
        </div>
    </div>
</div>