<div class="row">
  <div class="col-8 text-end">All Parts&nbsp;&nbsp;&nbsp;</div>

  <div class="col-2 text-start">
    <input
      type="radio"
      onclick="checkAll%%LETTER%%($(this));"
      name="All%%LETTER%%"
      class="%%ALLCHECKBOXFRONT%%"
    />
    Front
    <input
      type="radio"
      onclick="checkAll%%LETTER%%($(this));"
      name="All%%LETTER%%"
      class="%%ALLCHECKBOXBACK%%"
    />
    Back

    <script type="text/javascript">
      function checkAll%%LETTER%%(e) {

      if(e.hasClass('%%ALLCHECKBOXFRONT%%')) {

            $('.%%CLASSFRONT%%').attr('checked', 'checked');
            $('.%%CLASSBACK%%').attr('checked', false);
        } else {
            $('.%%CLASSFRONT%%').attr('checked', false);
            $('.%%CLASSBACK%%').attr('checked', 'checked');
        }
      }
    </script>
  </div>
  <div class="col-3"></div>
</div>
